@import './variable';


/*common css*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    position: relative;
    background: color(primary-color);
    color: color(secondary-color);
    font-size: 16px;
    font-weight: 400;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        text-decoration: none;
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container-fluid,
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    position: relative;
    display: block;
    height: 100vh;
    overflow: hidden;
}

// header css
header {
    display: block;
    clear: both;
    background: color(primary-color);

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .brand {
            display: flex;
            align-items: flex-end;
            max-width: 350px;

            .logo_icn {
                max-width: 40px;
            }

            .logo_txt {
                max-width: 150px;
                margin-left: 15px;
            }
        }

        .menu {
            display: flex;
            flex-flow: row-reverse;
            align-items: center;

            .menu-items {
                display: none;
                margin-right: 25px;
                overflow: hidden;

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        position: relative;

                        a {
                            display: block;
                            font-size: 16px;
                            padding: 0 15px;
                            color: color(menu-color);
                            font-weight: 700;
                            font-family: $primary-font;
                            text-align: center;

                            &:hover {
                                color: color(secondary-color);
                            }
                        }

                        ul {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            flex-flow: column;
                            justify-content: center;
                            padding-top: 20px;

                            li {
                                a {
                                    font-size: 14px;
                                    font-weight: 400;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Hamburgure icon
        #nav-icon {
            width: 40px;
            height: 35px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            z-index: 5;

            span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: color(secondary-color);
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2) {
                    top: 12px;
                }

                &:nth-child(3) {
                    top: 24px;
                }
            }

            &.open {
                span {
                    &:nth-child(1) {
                        top: 18px;
                        transform: rotate(135deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        left: -60px;
                    }

                    &:nth-child(3) {
                        top: 18px;
                        transform: rotate(-135deg);
                    }
                }

                ~ {
                    .menu-items {
                        display: block;
                        overflow: inherit;

                        ul {
                            animation: lightSpeedInRight 1s linear;

                            li {
                                ul {
                                    animation:none;
                                    display: none;
                                }

                                &:hover {
                                    ul {
                                        animation: lightSpeedInRight 0.5s linear;
                                        display: flex;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Home Banner

.home_main_banner {
    .banner_ctn {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 94px);

        h2 {
            font-size: 48px;
            font-weight: 400;
            margin-bottom: 15px;
            animation: lightSpeedInRight 2s linear;

            span {
                font-style: italic;
                font-weight: 700;
            }
        }

        h4 {
            font-size: 28px;
            font-family: $secondary-font;
            font-weight: 700;
            letter-spacing: 12px;
            animation: lightSpeedInLeft 2s linear;
        }
    }
}

.animation_elements {
    position: absolute;
    z-index: -1;
    overflow: hidden;

    &.shape1 {
        width: 200px;
        height: 80px;
        background: #606467 url(../images/ring_squre.png) no-repeat;
        background-size: unset;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        background-position: -6% -10%;
        animation: lightSpeedInRight 5s linear;
    }

    &.shape1 {
        bottom: 10px;
        right: 0;
    }

    &.shape2 {
        top: 96px;
        left: -20%;
    }

    &.shape3 {
        bottom: -100px;
        left: -50px;
        z-index: -2;
        animation: rotate-shape 9s infinite linear;
    }

    &.shape4 {
        bottom: 16%;
        right: 80px;
        opacity: 0.5;
        animation: rotate-shape 7s reverse linear infinite;
    }

    &.shape5 {
        top: 50%;

        &.left_shape5 {
            animation: rtl-shp 9s linear infinite alternate;
            transform: rotate(45deg);
        }

        &.right_shape5 {
            animation: ltr-shp 9s linear infinite alternate;
        }
    }
}

.bubble {
    position: absolute;
    bottom: -150px;
    width: 40px;
    height: 40px;
    background: color(secondary-color);
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;

    &:nth-child(1) {
        width: 44px;
        height: 44px;
        left: 2%;
        bottom: 31%;
        opacity: 0.2;
        animation: bounce 7s infinite linear alternate;
    }

    &:nth-child(2) {
        width: 50px;
        height: 50px;
        right: 5%;
        bottom: 50%;
        opacity: 0.15;
    }

    &:nth-child(3) {
        width: 15px;
        height: 15px;
        right: 3%;
        background: transparent;
        opacity: 0.5;
        border: 2px solid color(secondary-color);
        bottom: auto;
        top: 51%;
    }

    &:nth-child(4) {
        width: 155px;
        height: 180px;
        right: -5%;
        background: color(bubble-color);
        bottom: auto;
        top: 50%;
        opacity: 1;
        animation: bounce 15s infinite linear alternate;
        z-index: -1;
    }

    &:nth-child(5) {
        width: 30px;
        height: 30px;
        right: 8.5%;
        background: #35383a;
        bottom: 20%;
        opacity: 0.8;
        animation: lightSpeedInRight 5s linear;
    }

    &:nth-child(6) {
        width: 70px;
        height: 70px;
        right: 10.3%;
        bottom: 1.5%;
        opacity: 0.5;
        background: transparent;
        border: 3px solid color(secondary-color);
        animation: lightSpeedInLeft 5s linear;
    }

    &:nth-child(7) {
        width: 70px;
        height: 70px;
        left: 3%;
        top: 40%;
        opacity: 1;
        background: transparent;
        border: 3px solid color(bubble-color);
        animation: lightSpeedInLeft 5s linear;
    }

    &:nth-child(8) {
        width: 170px;
        height: 170px;
        left: -6%;
        bottom: 14%;
        opacity: 0.5;
        animation: bounce 10s infinite linear alternate;
    }
}

@keyframes bounce {
    0% {
        transform: translate(0, -100px) rotate(0);
    }

    100% {
        transform: translate(100px, 50px) rotate(360deg);
    }
}

@keyframes rtl-shp {
    from {
        right: 0;
    }

    to {
        right: 100px;
    }
}

@keyframes ltr-shp {
    from {
        left: 0;
    }

    to {
        left: 80px;
    }
}


@keyframes rtl-move {
    0% {
        right: -20%;
        transform: rotate(0);
    }

    100% {
        right: 105%;
        transform: rotate(180deg);
    }
}

@keyframes ltr-move {
    0% {
        left: -20%;
        transform: rotate(180deg);
    }

    100% {
        left: 105%;
        transform: rotate(0);
    }
}

@keyframes btt-move {
    0% {
        bottom: -50%;
        transform: rotate(0);
    }

    100% {
        bottom: 100%;
        transform: rotate(360deg);
    }
}

@keyframes rotate-shape {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes height-change {
    from {
        top: 0;
        height: 0;
    }

    to {
        top: 100%;
        height: auto;
    }
}

@keyframes lightSpeedInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes lightSpeedInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0) skewX(30deg);
        transform: translate3d(-100%, 0, 0) skewX(30deg);
        opacity: 0
    }

    60% {
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
        opacity: 1
    }

    80% {
        -webkit-transform: skewX(5deg);
        transform: skewX(5deg)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}